*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 400px;
    margin: auto;
    margin-top:50px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.461);
    border-radius: 10px;
}

form div{
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
}

form input{
    display: block;
    margin: auto;
}
form label{
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
}




