*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.contenedor-formulario{
    display: flex;

    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #7e3a50;
    
}
.contenedor-formulario-b{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.formulario{
    border: .1px solid white;
    border-radius: 20px;
    width: 450px;
    padding: 15px;
    padding-bottom: 50px;

    background-color: rgba(0, 0, 0, 0.277);   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(3px);

}

.form-h1{
    color: white;
    margin: 20px;
}

input{
    border: none;
    width: 70%;
    margin: 10px;
    border-bottom: .1px solid white;
    background-color: transparent;
    color: aliceblue;
    padding: 10px;
    font-size: medium;
}
input:focus, input:active {
    background: transparent;
}
::placeholder{
    color: white;
}

.send{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: medium;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border-radius: 30px;
    
    
}

.redirect a,.redirect{color: rgba(255, 255, 255, 0.709);}

.redirect a{font-weight: bold;
color: white;}



nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.navc1{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 100px 35px -45px inset;
    transition: background-color  .4s,box-shadow  .4s;
   position: sticky;
   top: 0;
   z-index: 2;
}
.navc{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
}
.hlogo{width: 100%;
    display: flex;
justify-content: center;
padding-top: 7px;
}
img{
    width: 30px;
}

.hmiddle{
    width: 50%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hside{
    display: flex;
    width: 15%;
    align-items: center;
}
.hleft{
justify-content: start;
}
.hright{
    justify-content: end;
}
.logo{
    width: 60px;

}

.menu{
    display: flex;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.boton{
    font-family: Arial, sans-serif;
    color: azure;
    text-decoration: none;    
}
.fa-user,.fa-bars{
    color: azure;
}

.boton:hover,.fa-user:hover,.fa-bars:hover{
    color: rgb(154, 168, 168);
}

.fa-user,.fa-bars{
    font-size: 30px;
} 
.ccont{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.ccont{
    background-repeat: no-repeat;

    background-size: cover;

        background-position: bottom center;
}

body{
    background-image: url(img/backg2.jpg);
    background-size: cover;
}
.btnprincipal{
    background-color: #FFFFFF;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:x-large;
}
.bclick{
    background-color: #8255F6;
    margin: 20px;
    border-radius: 30px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
    font-weight: bold;
    transition: background-color 1s;
}
.bclick:hover{
    animation-name: colores;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes colores {

    33%{background-color: yellow;}
    66%{background-color: red;}
    100%{background-color: #8255F6;}
  }

.principal{
    display: flex;
    flex: 1;
    color: #FFFFFF;
    font-weight: bold;
    align-items: center;
    width: 100%;

    padding-top: 7%;
    padding-bottom: 13%;
    padding-left: 10%;
}

.elblur{
    display: flex;
    flex-direction: column;
}
.ptexto{
    font-size:300%;
    width: 60%;

}

.geolc{
    height: 70vh;
    background-color: #413F52;
    display: flex;
    justify-content: center;
    align-items: center;
}
.geolc img{
    width: 450px;
    border: #272727 solid 5px;
}

.gimg:hover{
    animation: tada;
  animation-duration: 1s; /* don't forget to set a duration! */
}

footer{
    background-color: #272727;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    gap: 30%;

}
footer a{
    color: #FFFFFF;
}


footer .redes i{
font-size: 20px;
margin: 7px;
}

.anim{
    position:fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #8355f627;
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(9px);
    
}

.foto{  

    width: 150px;
}
.foto img{
width: 100%;
}

.animate__flash {

  
    --animate-duration: 3s;
    animation-iteration-count: infinite;

    animation-delay:0.8s;
  }

.contactoc{
    display: flex;
    flex: 1;
    color: #FFFFFF;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 15px;
    flex-wrap: wrap; 
}
.ccmsg{
    background-color: white;   
    width: 600px;
}
.cmsg{
padding: 10px;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.cmsg input{
    width: 260px;
    color:#272727;
    border-color: #272727;
    border: 1px solid ;
}
.ccmsg h3{
    color: rgb(59, 59, 117);
}

.cmsg input::placeholder{
    color: rgb(16, 195, 195);
}
.cmsg input:focus{
    outline: none;
}
.cmsg h4{
    color: rgb(16, 195, 195);
    font-weight: normal;
    width: 100%;
    padding-left: 20px;
    margin: 10px;
}
.cmsg textarea{
    outline: none;
    height: 150px;
    margin: 20px;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
}

.cinfo{
    padding: 20px;
    background-color: #123955;
    font-weight: normal;
}

.cinfo i{
    margin: 7px;
}

.dropbtn {

    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    color: rgb(154, 168, 168);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .ptexto:hover{
    display: inline-block;
    animation-delay: 0s;
  
    animation: shakeX; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }